.bg-R {
    background-color: red;
}

.text-R {
    color: red;
}

.bg-A {
    background-color: #f2d204;
}

.text-A {
    color: #f2d204;
}

.bg-G {
    background-color: green;
}

.text-G {
    color: green;
}

.bg-grey {
    background-color: grey !important;
}
