<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Team Health check Admin</title>
        <script type="text/javascript" src="/res/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/res/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/res/vue.min.js"></script>
        <link rel="stylesheet" href="/res/bootstrap.min.css" />
        <link rel="stylesheet" href="/res/admin.css">
    </head>
    <body>
        <div class="" id="app">
            <nav class="navbar navbar-primary bg-primary mb-4">
                <span class="navbar-brand" href="#">Team Health Check Admin</span>
                <span v-if="room != ''" class="my-sm-0">Room: ${ room }</span>
            </nav>

            <div class="container">
                <div class="" v-if="not_ready">
                    <div class="form-group">
                        <label for="room_input">Create/Join room</label>
                        <input v-model="room" class="form-control" type="text" placeholder="Enter the room id" required autofocus />
                        <small class="form-text text-danger">${ invalid_room }</small>
                    </div>
                    <button v-on:click="check_ready()" class="btn btn-primary" type="button">Enter</button>
                </div>
                <div class="" v-else>
                    <div class="row text-center mb-4">
                        <div class="col">
                            <button type="button" v-on:click="unready()" class="btn btn-secondary">Back</button>
                        </div>
                        <div class="col">
                            <button type="button" v-on:click="flip()" class="btn btn-primary">
                                <span v-if="flipped">Unflip</span>
                                <span v-else>Flip</span>
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" v-on:click="reset()" class="btn btn-warning">Reset</button>
                        </div>
                    </div>
                    <div class="row text-center mb-4 border border-dark bg-light">
                        <div class="col font-weight-bold">
                            ${ nb_votes }
                        </div>
                        <div class="col text-R font-weight-bold">
                            <span v-if="flipped">
                                ${ result.R }
                            </span>
                            <span v-else>
                                ?
                            </span>
                        </div>
                        <div class="col text-A font-weight-bold">
                            <span v-if="flipped">
                                ${ result.A }
                            </span>
                            <span v-else>
                                ?
                            </span>
                        </div>
                        <div class="col text-G font-weight-bold">
                            <span v-if="flipped">
                                ${ result.G }
                            </span>
                            <span v-else>
                                ?
                            </span>
                        </div>
                        <div class="col overall vote" v-bind:class="[flipped ? '' : 'bg-grey', result_class]">
                            &nbsp;
                        </div>
                    </div>
                    <table class="table mb-4">
                        <thead class="thead-light">
                            <tr>
                                <th scope="row">Name</th>
                                <th scope="row">Vote</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="vote in votes">
                                <td>${ vote.name }</td>
                                <td class="vote" v-bind:class="['bg-' + vote.vote, flipped ? '' : 'bg-grey']">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/res/admin.js"></script>
        <script type="text/javascript">
            route_room = '{{ room }}'
            if (route_room) {
                app.room = route_room
                app.check_ready()
            }
        </script>
    </body>
</html>
