<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Team Health check</title>
        <script type="text/javascript" src="/res/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/res/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/res/vue.js"></script>
        <link rel="stylesheet" href="/res/bootstrap.min.css" />
        <link rel="stylesheet" href="/res/client.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id="app" class="container">
            <nav class="navbar navbar-dark bg-dark mb-4">
                <span class="navbar-brand" href="#">Team Health Check</span>
                <span v-if="room != ''" class="my-sm-0 text-white">Room: {{ room }}</span>
            </nav>

            <div v-if="not_ready">
                <form>
                    <div class="form-group">
                        <label for="name_input">First name</label>
                        <input v-model="name" class="form-control" type="text" placeholder="Enter your first name" required />
                        <small class="form-text text-danger">{{ invalid_name }}</small>
                    </div>
                    <div class="form-group">
                        <label for="room_input">Room</label>
                        <input v-model="room" class="form-control" type="text" placeholder="Enter the room id" required />
                        <small class="form-text text-danger">{{ invalid_room }}</small>
                    </div>
                    <button v-on:click="check_ready()" class="btn btn-primary" type="button">Enter</button>
                </form>
            </div>

            <div v-else>
                <button type="button" v-on:click="vote('')" class="btn btn-info float-right">Cancel vote</button>
                <button type="button" v-on:click="unready()" class="btn btn-secondary">Back</button>
                <table class="light_table mx-auto">
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <img src="/res/top.png" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/res/left.png" alt="">
                            </td>
                            <td>
                                <div class="red button" v-on:click="vote('R')">
                                    <img src="/res/placeholder.png" alt="">
                                </div>
                            </td>
                            <td>
                                <img src="/res/right.png" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/res/left.png" alt="">
                            </td>
                            <td>
                                <div class="amber button" v-on:click="vote('A')">
                                    <img src="/res/placeholder.png" alt="">
                                </div>
                            </td>
                            <td>
                                <img src="/res/right.png" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/res/left.png" alt="">
                            </td>
                            <td>
                                <div class="green button" v-on:click="vote('G')">
                                    <img src="/res/placeholder.png" alt="">
                                </div>
                            </td>
                            <td>
                                <img src="/res/right.png" alt="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script type="text/javascript" src="/res/client.js"></script>
        <script type="text/javascript">
            app.init()
        </script>
    </body>
</html>
